---

import Menu from '../components/menu.astro';
import Nosotros from '../components/nosotros.astro';
import Layout from '../layouts/Layout.astro';
import Banner from '../components/SectionBaner.astro'

---

<Layout>
	<main class="px-2">
		<Banner class=" py-44 pb-32">
			<Nosotros/>
		<Banner/>
	</main>
</Layout>
