<section class="py-12 px-4">
  <div class="flex items-center gap-4 mb-6">
    <button>24/25</button>
    <h1 class="text-3xl font-bold">NUESTRAS EQUIPACIONES</h1>
  </div>
  <article class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6">
    <div class="flex flex-col items-center">
      <img src="../PrimeraPorDelante.jpg" alt="Primera equipación" class="rounded-lg shadow-lg hover:scale-105 transition-transform duration-200"/>
      <span class="mt-2 text-sm font-medium">Primera</span>
    </div>
      <div class="flex flex-col items-center">
      <img src="../PrimeraPorDetras.jpg" alt="Primera equipación" class="rounded-lg shadow-lg hover:scale-105 transition-transform duration-200"/>
      <span class="mt-2 text-sm font-medium">Primera</span>
    </div>
      <div class="flex flex-col items-center">
      <img src="../PrimeraPorDelante.jpg" alt="Primera equipación" class="rounded-lg shadow-lg hover:scale-105 transition-transform duration-200"/>
      <span class="mt-2 text-sm font-medium">Primera</span>
    </div>
      <div class="flex flex-col items-center">
      <img src="../PrimeraPorDelante.jpg" alt="Primera equipación" class="rounded-lg shadow-lg hover:scale-105 transition-transform duration-200"/>
      <span class="mt-2 text-sm font-medium">Primera</span>
    </div>
    <!-- Repite para cada equipación -->
  </article>
 
</section>