<section id="Equipaciones" class="py-12 px-4">
  <div class="flex items-center gap-4 mb-6">
    <button type="button" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">24-25</button>
    <h1 class="text-3xl font-bold">NUESTRAS EQUIPACIONES</h1>
  </div>
  <article class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6">
    <div class="flex flex-col items-center">
      <img src="../primeraPorDetras.jpg" alt="Primera equipación" class="rounded-lg shadow-lg hover:scale-105 transition-transform duration-200"/>
      <span class="mt-2 text-sm font-medium">Primera equipacion</span>
    </div>
      <div class="flex flex-col items-center">
      <img src="/public/PrimeraPorDelante.jpg" alt="Primera equipación" class="rounded-lg shadow-lg hover:scale-105 transition-transform duration-200"/>
      <span class="mt-2 text-sm font-medium">Primera equipacion</span>
    </div>
      <div class="flex flex-col items-center">
      <img src="../PrimeraYsegunda.jpg" alt="Primera equipación" class="rounded-lg shadow-lg hover:scale-105 transition-transform duration-200"/>
      <span class="mt-2 text-sm font-medium">Primera y segunda equipacion</span>
    </div>
      <div class="flex flex-col items-center">
      <img src="../ChaquetaPorDelante.jpg" alt="Primera equipación" class="rounded-lg shadow-lg hover:scale-105 transition-transform duration-200"/>
      <span class="mt-2 text-sm font-medium">Chaqueta</span>
    </div>
     <div class="flex flex-col items-center">
      <img src="../ChaquetaPorDetras.jpg" alt="Primera equipación" class="rounded-lg shadow-lg hover:scale-105 transition-transform duration-200"/>
      <span class="mt-2 text-sm font-medium">Chaqueta</span>
    </div>
    <!-- Repite para cada equipación -->
  </article>
  <article class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6">
     <div class="flex flex-col items-center">
      <img src="../Bandera.jpg" alt="Primera equipación" class="rounded-lg shadow-lg hover:scale-105 transition-transform duration-200"/>
      <span class="mt-2 text-sm font-medium">Bandera</span>
    </div>
     <div class="flex flex-col items-center">
      <img src="../Bandera.jpg" alt="Primera equipación" class="rounded-lg shadow-lg hover:scale-105 transition-transform duration-200"/>
      <span class="mt-2 text-sm font-medium">tercera</span>
    </div>
     <div class="flex flex-col items-center">
      <img src="../Bandera.jpg" alt="Primera equipación" class="rounded-lg shadow-lg hover:scale-105 transition-transform duration-200"/>
      <span class="mt-2 text-sm font-medium">Bandera</span>
    </div>
     <div class="flex flex-col items-center">
      <img src="../Bandera.jpg" alt="Primera equipación" class="rounded-lg shadow-lg hover:scale-105 transition-transform duration-200"/>
      <span class="mt-2 text-sm font-medium">Bandera</span>
    </div>
     <div class="flex flex-col items-center">
      <img src="../Bandera.jpg" alt="Primera equipación" class="rounded-lg shadow-lg hover:scale-105 transition-transform duration-200"/>
      <span class="mt-2 text-sm font-medium">Bandera</span>
    </div>
    <!-- Repite para cada equipación -->
  </article>
 
</section>