---

---

<section id="Historia" class="py-12 px-4">
    <div class="flex items-center gap-4 mb-6 justify-center">
        <h1 class="text-3xl font-bold text-red-800"> HISTORIA</h1>
    </div>
    <article class=" flex flex-row w-full h-screen items-center">
        <div class=" flex justify-end w-1/2 pr-6">
            <p>Rondaba el inicio del <strong>curso 2023/2024</strong>  en el Instituto <strong>Campiña Alta </strong> en el Casar y como todos los año en ese Instituto se celebraba la liga de futbol del instituto y <strong>un grupo de unos 10 colegas</strong> de bachillerato II y grado medio nos pusimos de acuerdo para crear el equipo y competir en esa liga la Campiña league , los que tuvieron la idea organizadores de crear ese equipo y inscribir ese equipo fueron <strong>Alejandro Gonzalez (Manzano) </strong> y  <strong>Hugo Albert (Hugo Chill)</strong> quienes ahora son mismo son el Capitan y Presidente de el equipo reespectivamente, despues de ganar el torneo de futbol sala del instituto ya una vez graduados nos toco salir fuera del isnituto y empezar una nueva etapa de nuestras vidas y cada uno se iba a separar e iba a estudiar una cosa diferente asique decidimos competir en una liga de futbol 7 del pueblo, <strong>LA LIGA A+7</strong> de el cual ya conociamos algun equipo como podia ser los Rockets que tambien participaron en la liga del instituto y fuimos tambien <strong> participando en torneos tanto de futbol sala y de futbol 7 </strong>que habian por la zona y tambien se hubo uniendo gente y consiguiendo patrociandores y es asi coomo de fue poco a poco creando el Equipo de futbol <strong>LOS TERCIOS </strong> 
            </p>
        </div>
        <div class=" flex justify-start w-1/2">
            <img      
                class="w-screen h-screen object-cover rounded-[8px] shadow-lg max-h-[500px] md:max-h-full"
                src="../../public/FotoInsti.jpg" 
                alt="Equipo de fútbol Los Tercios"
             />
        </div>
    </article>
</section>

<style>
    strong{
        color: #9f0712;
        font-weight: 700;
    }
</style>