---
import Logo from "./logo.astro"
---

<section id="Intro" class=" w-full lg:w-[740px] mx-auto pb-24 py-44  ">
    <article>
        <h1>Con el escudo en el pecho y el león al frente </h1>
        <h2>Somos Los Tercios FC un Equipo de futbol ubicado en Guadalajara </h2>
        <h2>Actualmente Participamos en la liga <strong>A+7</strong></h2>
    </article>
  
    <Logo/>
</section>