---
const {name , id } = Astro.props
---
 <a href="#Plantilla" class=" inline-block transition hover:scale-125 w-25 sm:w-14 md:w-16 lg:w-20 group"  >
        <img 
            class=" aspect-[900/1200px] w-full h-full object-cover"
            src={`/public/${id}.png`} 
            alt={name} 
            decoding="async">
        <img/>
 </a>

 <div class="   
 absolute 
 inset-0 
 flex flex-col justify-end 
 bg-gradient-to-t from-red-500 to-transparent p-1 opacity-0
 group-hover:opacity-100 transition-opacity"
 >
 <h3 class=" text-seashell text-sm">{name}</h3>

</div>