---

---

<section id="Patrocinadores" class="py-12 px-2 sm:px-4">
    <div class="flex items-center gap-4 mb-6 justify-center">
        <h1 class="text-3xl font-bold text-red-800"> Patrocinadores</h1>
    </div>
    <article class="flex flex-row xs:flex-col flex-wrap justify-center items-center gap-6 sm:gap-8 w-full">
        <img 
            class="w-20 h-20 sm:w-24 sm:h-24 object-contain hover:scale-110 transition-all duration-300 cursor-pointer bg-black" 
            src="tecnocasa.svg"
            alt="Tecnocasa"
        />
        <img 
            class="w-20 h-20 sm:w-24 sm:h-24 object-contain hover:scale-110 transition-all duration-300 cursor-pointer" 
            src="LaneFit.jpg"
            alt="LaneFit"
        />
        <img 
            class="w-20 h-20 sm:w-24 sm:h-24 object-contain hover:scale-110 transition-all duration-300 cursor-pointer" 
            src="Zentral.jpeg"
            alt="Zentral"
        />
    </article>
</section>