---

---

<section id="Patrocinadores" class="py-12 px-4">
    <div class="flex items-center gap-4 mb-6 justify-center">
        <h1 class="text-3xl font-bold text-red-800"> Patrocinadores</h1>
    </div>
   <article class="flex flex-row flex-wrap justify-center items-center gap-8 w-full">
    <img 
        class="w-24 h-24 object-contain hover:scale-110 transition-all duration-300 cursor-pointer bg-black" 
        src="tecnocasa.svg"
        alt="img"
    />
    <img 
        class="w-24 h-24 object-contain  hover:filter-none hover:scale-110 transition-all duration-300 cursor-pointer" 
        src="Orange.svg"
        alt="img"
    />
    <img 
        class="w-24 h-24 object-contain hover:scale-110 transition-all duration-300 cursor-pointer bg-black" 
        src="Mediamarkt.svg"
        alt="img"
    />
    <img 
        class="w-24 h-24 object-contain hover:scale-110 transition-all duration-300 cursor-pointer" 
        src="LaneFit.jpg"
        alt="img"
    />
    <img 
        class="w-24 h-24 object-contain hover:scale-110 transition-all duration-300 cursor-pointer" 
        src="Zentral.jpeg"
        alt="img"
    />
</article>
</section>