---
 import './src/styles/global.css'
 import background from '../assets/background.svg';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<img id="background" src={background.src} alt="" fetchpriority="high" />
		<slot />
	</body>
</html>

<style>

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		font-family: fuente1;
	}
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
		
	}

	#container {
		font-family: fuente1, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}


	@font-face {
		font-family: 'fuente1';
		src: url('../../fonts/fuente1.woff2') format('woff2'),
			url('../../fonts/fuente1.woff2') format('woff');
		font-weight: 400;
		font-style: 500;
	}

	@font-face {
		font-family: 'fuente2';
		src: url('../../fonts/fuente2.woff') format('woff2'),
			url('../../fonts/fuente2.woff') format('woff');
		font-weight: 400;
		font-style: 500;
	}

	@font-face {
		font-family: 'fuente3';
		src: url('../../fonts/fuente3.woff') format('woff2'),
			url('../../fonts/fuente3.woff') format('woff');
		font-weight: 400;
		font-style: 500;
	}

	@font-face {
		font-family: 'fuente4';
		src: url('../../fonts/fuente4.woff') format('woff2'),
			url('../../fonts/fuente4.woff') format('woff');
		font-weight: 400;
		font-style: 500;
	}
</style>
